.images{
  text-align: center;
  display: flex;
  margin: 0 0 80px 0;
  padding-left: 0;
  white-space: nowrap;
  background-color: lightseagreen;
}
.images li{
  display: inline-block;
  margin: 20px 2.5%;
  border: 3px solid white;
}
.spaghetti{
  flex: 1.75;
}
.burger{
  flex: 1.75;
}
.pizza{
  flex: 1.79;
}
.pancakes{
  flex: 1;
}
.images li img{
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px){
  li.pancakes{
    display: none;
  }
}

@media screen and (max-width: 550px){
  li.pizza{
    display: none;
  }
}

@media screen and (max-width: 400px){
  li.spaghetti{
    display: none;
  }
}